<ion-header>
    <ion-navbar color="secondary">
      <ion-title>
        {{title}}
      </ion-title>
    </ion-navbar>
  </ion-header>
   
  <ion-content>
    <ion-card>
      <ion-card-content>
        {{description}}
      </ion-card-content>
    </ion-card>
  </ion-content>
  