<ion-header>
  
  <ion-navbar color="secondary">
    <ion-title>
      HEADER THANKS IONIC
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

    <ion-list>
      <ion-item *ngFor="let item of items" (click)="viewItem(item)">{{item.title}} - {{item.price}}</ion-item>
    </ion-list>
          
</ion-content>
