<ion-header>
    <ion-toolbar color="secondary">
      <ion-title>
        Add Item
      </ion-title>
        <ion-buttons end>
          <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>
   
  <ion-content>
    <ion-list>
   
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" [(ngModel)]="title"></ion-input>
      </ion-item>
   
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input type="text" [(ngModel)]="description"></ion-input>
      </ion-item>
   

      <ion-item>
        <ion-label floating>Price</ion-label>
        <ion-input type="number" [(ngModel)]="price"></ion-input>
      </ion-item>

    </ion-list>
   
    <button full ion-button color="secondary" (click)="saveItem()">Save</button><!--atributo full para guardar todo el objeto-->
   
  </ion-content>
